<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NBA</title>
  </head>
  <body>
    <h1>NBA Roster</h1>

    
    <ul>
      <li>To Browse players select <a href="/browsePlayers">players</a></li>
      <li>
        To Browse teams select
        <a href="/browseTeams">Teams</a>
      </li>
    </ul>
    <hr />

    
    <ul>
      <li>
        To add players to the Roster select <a href="/addToRoster">Roster</a>
      </li>
      <li>
        To view the Roster select
        <a href="/viewRoster">View</a>
      </li>
    </ul>
    <hr />
  </body>
</html>
