<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Result</title>
  </head>
  <body>
    <h1> <%- username %>'s Roster</h1>
    <%- rosterTable %>
    <br>
    <a href="/home">HOME</a>
  </body>
</html>
